body{
    background-color: #f9f9fe;
    font-family: Roboto sans-serif;
}
a {
color: lightskyblue ;
}
.weather-app{
    background-color: beige;
    max-width: 600px;
    margin: 45px auto;
    box-shadow:rgba(39, 33, 66, 0.4); 
    border-radius: 16px;
    padding: 30px;
}

header{
    border-bottom: 1px solid #f9f9fe;
    padding: 0 0 25px 0;
}

.search-form-input {
    background-color: #f9f9fe;
    border: none;
    border-radius: 6px;
    max-width: 80%;
    font-size: 15px;
    padding: 15px 20px;
}
.search-form-button {
background-color: lightskyblue;
padding: 15px 30px;
border: none;
border-radius: 6px;
color:white;
margin-left: 7x;
font-size: 15px;}

main{
padding: 25px 0;
}

.weather-app-city{
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}

.weather-app-data {
display: flex;
justify-content: space-between;

}
.weather-app-details{
        font-size: 16px;
    color: rgba(39, 33, 66, 0.4);
    line-height: 24px;
    font-weight: 500;
}
.weather-app-details strong {
color: #f65282;
}
.weather-app-details{
    font-size: 16px;
    color: rgba(39, 33, 66, 0.4);
    line-height: 24px;
    font-weight: 500;
}
.weather-app-temperature-container{
    display: flex;
}
    .weather-app-temperature{
    font-size: 88px;
    line-height: 88px;
    font-weight: bold;
    margin-left: 10px;
}
.weather-app-icon{
    font-size: 44px;
    margin-top: 22px;
}
.weather-app-unit{
    margin-top: 16px;
    font-size: 28px;
}

footer{
    border-bottom: 1px solid #f9f9fe;
    padding:  25px  0 0 0;
    text-align: center;
    font-size: 13px;
    font-family: bold;
    color: rgba ( 0 0 0 0.6);
}